* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.Container {
  margin: 0 auto;
  width: 1300px;
  padding-bottom: 50px;
}


.Title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
  font-size: 38px;
}


.Header .Container{
  height: 80px;
}

.Header .Container .HeaderContent {
  display: flex;
  flex-direction: row-reverse;
  height: 80px;
  align-items: center;
  position: relative;
}

.Header .Container .HeaderContent .HeaderLinks {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.Header .Container .HeaderContent .Logo {
  position: absolute;
  top: 40%;
  left: 0px;
  font-weight: 700;
  cursor: pointer;
}

.Content .Container .Home {
  padding-top: 200px;
}

.Content .Container .Home .Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Content .Container .Home .Hero div p {
  margin-bottom: 20px;
  font-weight: 500;
  color: #9d9d9d;
  position: relative;
  line-height: 25px;
}

.Content .Container .Home .Hero div p .LocateIcon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  position: absolute;
}

.Content .Container .Home .Hero .SocialNetworks {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.Content .Container .Home .Hero .MyPhoto {
  width: 500px;
}


.Content .Container .Home .Projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.Content .Container .Home .Projects .Project {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
  padding: 20px;
  border-radius: 6px;
}

.Content .Container .Home .Projects .Project .ShortProjectInfo {
  width: 50%;
  padding-left: 50px;
}

.Content .Container .Home .Projects .Project .ShortProjectInfo h3 {
  font-size: 24px;
}

.Content .Container .Home .Projects .Project .ShortProjectInfo p {
  margin-top: 14px;
  line-height: 25px;
  margin-bottom: 14px;
}

.Content .Container .Home .Projects .Project .ProjectImage {
  width: 50%;
  height: 393.66px;
  border-radius: 6px;
  cursor: pointer;
}

.Content .Container .ProjectsDetails {
  padding-top: 100px;
}

.Content .Container .ProjectsDetails .ProjectDetailsTitle {
  text-align: center;
  font-size: 28px;
  padding-bottom: 25px;
  width: 100%;
}

.Content .Container .ProjectsDetails .ProjectImage {
  width: 50%;
  height: 393.66px;
  border-radius: 12px;
}

.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject {
  width: 100%;
  height: 393.66px;
}

.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject .InfoAboutStackAndPackages {
  display: flex;
  justify-content: space-evenly;
}

.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject .StackOfTech {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject .StackTitle {
  display: block;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
}

.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject .StackOfTech li {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject .StackOfTech li img {
  width: 20px;
  margin-left: 7px;
}



.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject .Packes {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject .PacksTitle {
  display: block;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
}


.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject .Packes li {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Content .Container .ProjectsDetails .ProjectsDetailsFlexBlock .MoreAboutProject .Packes li img {
  width: 20px;
  margin-left: 7px;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject {
  padding-top: 100px;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject h4 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject h4 img {
  width: 20px;
  margin-left: 7px;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject .SocialLinks li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  width: 65px;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject .SocialLinks li a:hover {
  transition: 0.8s;
  color: #8847F9;
  transform: scale(1.07);
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject .SocialLinks li a {
  font-size: 18px;
  font-weight: 500;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject .SocialLinks li img {
  width: 20px;
  margin-left: 7px;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject p {
  margin-top: 30px;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
}


.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject .ApiList {
  margin-top: 30px;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject .ApiList li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject .ApiList li a {
  text-decoration: underline;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject .ApiList li img {
  width: 20px;
  margin-left: 8px;
}

.Content .Container .ProjectsDetails  .OtherInfoAboutCurrentProject .ApiList li a:hover {
  transition: 0.8s;
  color: #8847F9;
}

.Content .Container .Contacts form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.Content .Container .Contacts form input {
  width: 90%;
  height: 55px;
  margin-bottom: 55px;
  padding-left: 20px;
  font-size: 16px;
  border: 1px solid #3F3C42;
}

.Content .Container .Contacts form input:focus {
  outline: none;
  outline-offset: none;
  background-color: #D6FCE8;
  transition: 0.5s;
}

.Content .Container .Contacts form textarea {
  width: 90%;
  height: 150px;
  font-size: 16px;
  padding: 20px;
  resize: none;
  border: 1px solid #3F3C42;
}

.Content .Container .Contacts form textarea:focus {
  outline: none;
  outline-offset: none;
  background-color: #D6FCE8;
  transition: 0.5s;
}

.Content .Container .Contacts .AlertAboutErrorInput {
  position: relative;
  top: -25px;
  left: 0px;
  color: red;
  font-weight: 500;
}

.Content .Container .Contacts .AlertAboutErrorTextArea {
  position: relative;
  top: 25px;
  left: 0px;
  color: red;
  font-weight: 500;
}

.Content .Container .Contacts .SubmitFormButton {
  margin-top: 60px;
  width: 300px;
  height: 40px;
  background-color: white;
  color: white;
  font-weight: 500;
  background-color: #1976d2;
  text-transform: uppercase;
  border: 1px solid rgba(25, 118, 210, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

.Content .Container .Contacts .SubmitFormButton:hover {
  transition: 0.5s;
  opacity: 0.8;
}

.Content .Container .Contacts .EmailAdress {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.Content .Container .Contacts .EmailAdress h4{
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.Content .Container .Contacts .EmailAdress h4  img {
  width: 40px;
  margin-left: 8px;
}

.Content .Container .Contacts .EmailAdress p {
  padding-top: 20px;
  font-weight: 400;
}

.Content .Container .About .FlexGroup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
  padding: 20px;
  border-radius: 6px
}


.Content .Container .About .StackOfTech {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content .Container .About .StackOfTech li {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.Content .Container .About .StackOfTech li img {
  width: 40px;
  margin-left: 7px;
}

.Content .Container .About h4 {
  font-size: 22px;
  font-weight: 500;
}


.Content .Container .AllProjects .Projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.Content .Container .AllProjects .Projects .Project {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
  padding: 20px;
  border-radius: 6px
}

.Content .Container .AllProjects .Projects .Project .ShortProjectInfo {
  width: 50%;
  padding-left: 50px;
}

.Content .Container .AllProjects .Projects .Project .ShortProjectInfo h3 {
  font-size: 24px;
}

.Content .Container .AllProjects .Projects .Project .ShortProjectInfo p {
  margin-top: 14px;
  line-height: 25px;
  margin-bottom: 14px;
}

.Content .Container .AllProjects .Projects .Project .ProjectImage {
  width: 50%;
  height: 393.66px;
  border-radius: 6px;
  cursor: pointer;
}

.Content .Container .About .MoreAboutMe {
  padding-top: 50px;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 40px;
}

.Content .Container .About .Certificates {
  padding-top: 100px;
}

.Content .Container .About .Certificates .Certificate {
  width: 410px;
  height: 310px;
  background-color: red;
  border-radius: 6px;
  cursor: pointer;
}

.Content .Container .About  .CurrentCertificate {
  margin: 0 auto;
  width: 640px;
  height: 453px;
  margin-top: 50px;
}